@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root{
    --button-color:#E02C6D;
    --link-color:#10437A;
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sens-serif;
    box-sizing: border-box;
}

h1{
    font-size: 44px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 30px;
}
/***************Header Area****************/
header{
    background-color: #2D25A0;
    display: flex;
    justify-content: center;
}
.header-container{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 100px 0;
}
.header-left{
    width: 100%;
    color: #fff;
    margin-top:50px;
}
.header-left h1{
    font-size: 44px;
    line-height: 80px;
}
.top-color{
    color: var(--button-color);
}
.link {
    margin-top: 50px;
}
.link a{
    text-decoration: none;
    text-align: left;
    color: #fff;
    background-color: var(--button-color);
    padding: 5px 10px;
    transition: 1s ease;
}
.link a:hover{
    font-size: 20px;
}
.header-right{
    width: 100%;
}
.header-right img{
    width: 100%;
    margin-right: 100px;
    transition: 1s ease;
}
    .header-right img:hover{
    transform: scale(1.1);
}

/***********Players Area************/
.players-container{
    display: flex;
    justify-content: center;
}
.players-area{
    width: 1050px;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}
.players-area h2{
    color: #2D25A0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player{
    margin: 20px;
    padding: 15px;
    box-shadow: 0 3px 10px lightgray;
}
.player img {
    width: 100%;
}

/*************All Highlights Area************/
.heilight-section{
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}
.heilight-area{
    display: flex;
    justify-content: space-between;
    width: 1050px;
    margin: 60px 0;
}
.heilight-left{
    margin-right: 100px;
}
.heilight-left h2{
    font-weight: 700;
}
.heilight-right img{
    width: 100%;
}

/***************Blog Area****************/
.blog-section{
    display: flex;
    justify-content: center;
}
.blog-container{
    width: 1050px;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}
.blog-container h2 {
    color: #2D25A0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.blog{
    background: #f7f7f7;
    margin: 20px;
    padding: 15px 15px 25px;
    border: 1px solid gray;
}
.blog img{
    width: 100%;
}
.blog p{
    margin: 20px 0;
}
.blog a{
    text-decoration: none;
    color: #fff;
    background-color: var(--link-color);
    padding: 5px 10px;
}
.blog a:hover{
    text-decoration: none;
    color: #fff;
    background-color: #116bcc;
}

/***************Subscriber Area**************/
.subs-section{
    background: url(images/subscribe.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.subs-container{
    width: 60%;
    margin: 100px 0;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}
.subs-container h2{
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
}
.form-area input {
    width: 68%;
    padding: 20px;
    background:#fff;
    border: 0.5px solid lightgrey;
    float: left;
}

.form-area button {
    padding: 20px 30px;
    background-color:var(--link-color);
    color: papayawhip;
    border: none;
    font-size: 16px;
    width: 25%;
    float: right;
    transition:1s ease;
}
.form-area button:hover{
    background:#116bcc;
    transform: scale(1.1);
}
/**************Footer Section**************/
.footer-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container{
    width: auto;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.logo {
    display: flex;
    justify-content: center;
}
.logo img {
    width: 30%;
}
.icons, .copyright{
    text-align: center;
    margin: 20px 0;
}
.icons i{
    background:#919191;
    color: #fff;
    border-radius: 50px;
    padding: 20px 23px;
    margin: 10px;
}

.icons i:hover{
    background: var(--link-color);
}

/*****************************************\
            Smart Phone Screen
\*****************************************/
@media only screen and (max-width: 688px) {
    .header-container {
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 100px 0;
        flex-direction: column;
    }
    .header-left {
        margin-top: 0;
    }
    .header-right img {
        width: 100%;
        margin-top: 60px;
        transition: 1s ease;
    }
    .header-left h1{
        font-size: 42px;
        text-align: center;
    }
    .link {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
    .players-area{
        width: auto;
        display: flex;
        flex-direction: column;
        margin: 50px 0;
    }
    .players {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .heilight-area {
        display: flex;
        width: auto;
        margin: 50px 20px;
        align-content: center;
        flex-direction: column;
    }
    .heilight-left{
    margin-bottom: 30px;
    margin-right: 0;
    }
    .heilight-left{
        text-align: center;
    }
    .blog-container{
        width: auto;
        display: flex;
        flex-direction: column;
        margin: 50px 0;
    }
    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .form-area{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form-area input {
        width: 100%;
        padding: 20px 0;
        margin-bottom: 10px;
        background: #fff;
        border: 0.5px solid lightgrey;
        float: left;
    }
    .form-area button {
        padding: 20px 30px;
        background-color: var(--link-color);
        color: papayawhip;
        border: none;
        font-size: 16px;
        width: 100%;
    }
}
/*****************************************\
            Tablet/iPad Screen
\*****************************************/
@media screen and (min-width:43em) and (max-width:62em){
    .header-left {
        margin-top: 0;
    }
    .header-left h1 {
        font-size: 38px;
        line-height: 50px;
    }
    .header-right img {
        width: 100%;
        margin-left: 20px;
        transition: 1s ease;
    }
    .players-area {
        width: auto;
        display: flex;
        flex-direction: column;
        margin: 50px 0;
    }
    .players {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .heilight-area {
        display: flex;
        justify-content: space-between;
        width: auto;
        margin: 60px 30px;
    }
    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .form-area{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form-area input {
        width: 100%;
        padding: 20px 0;
        margin-bottom: 10px;
        background: #fff;
        border: 0.5px solid lightgrey;
        float: left;
    }
    .form-area button {
        padding: 20px 30px;
        background-color: var(--link-color);
        color: papayawhip;
        border: none;
        font-size: 16px;
        width: 100%;
    }
}